@model KruisIT.Web.Analytics.Models.CurrentList<KruisIT.Web.Analytics.Models.Aggregate>
@{
	Layout = null;

	int maxCount = Model.Data.Any() ? Model.Data.Max(m => m.Count) : 0;
	int dayCount = Model.Data.Count;

	int aggregateTotal = Model.Data.Select(m => m.Count).Sum();
}

<h4>@aggregateTotal @Model.Title</h4>
<div class="analytics-aggregates analytics-aggregates-rotated">

	<span class="analytics-aggregates-y-label">@maxCount</span>

	<table>
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Data.FirstOrDefault().Date)</th>
				<th>@Html.DisplayNameFor(model => model.Data.FirstOrDefault().Count)</th>
			</tr>
		</thead>
		<tbody>
			@for (int dayIndex = 0; dayIndex < Model.Data.Count; dayIndex++)
			{
				var agg = Model.Data[dayIndex];
				var width = (0 == maxCount) ? 0 : (100 * agg.Count / maxCount);
				<tr>
					<td class="analytics-date">
						@if (0 == dayIndex || (dayIndex == (dayCount / 4)) || (dayIndex == (dayCount / 2)) || (dayIndex == (dayCount * 3 / 4)) || dayCount - 1 == dayIndex)
						{ 
							<div>@agg.Date.ToString("yyyy-MM-dd")</div>
						}
						else
						{
							<div class="analytics-date-secondary">@agg.Date.ToString("yyyy-MM-dd")</div>
						}
					</td>
					<td class="analytics-count @(agg.Count == 0 ? "analytics-count-empty" : "")"><div style="width: @(width)%" title="@agg.Date.ToString("yyyy-MM-dd") : @agg.Count"><span>@agg.Count</span></div></td>
				</tr>
			}
		</tbody>
	</table>
</div>
