@model KruisIT.Web.Analytics.Models.CurrentList<string>
@{
	ViewBag.Title = "Analytics";
}

<link rel="stylesheet" href="@(ViewBag.Url)Resource/analytics_css" />
<script type="text/javascript" src="@(ViewBag.Url)Resource/analytics_js"></script>

<h2>
	@ViewBag.Title
	<small>
		@Model.Filter.StartDate.Value.ToString("yyyy-MM-dd") - @Model.Filter.EndDate.Value.ToString("yyyy-MM-dd")
	</small>
</h2>

<div class="analytics-menu">
	@if (Model.Data.Any())
	{
		if (Model.Data.Count > 1)
		{
			<div id="analytics-filter-website">
				<h3>website</h3>
				<select id="analytics-filter-website-value">
					@foreach (var site in Model.Data)
					{
						<option>@site</option>
					}
				</select>
			</div>
		}
		else
		{
			<div>@Model.Data.First()</div>
		}
	}
	else
	{
		<div>No Data</div>
	}

	<div id="analytics-filter-location">
		<h3>location</h3>
		<input id="analytics-filter-location-value" type="text" value="" />
		<button class="clear">x</button>
	</div>

	<div id="analytics-filter-view">
		<h3>view</h3>
		<ul id="analytics-filter-view-value">
			<li><input type="radio" name="view" id="vwVisits" value="Aggregates_Visits" checked="checked" /><label for="vwVisits">Page views</label></li>
			<li><input type="radio" name="view" id="vwVisitors" value="Aggregates_Visitors" /><label for="vwVisitors">Visitors</label></li>
			<li><input type="radio" name="view" id="vwMostViewed" value="MostViewed" /><label for="vwMostViewed">Most viewed</label></li>
		</ul>
	</div>

	<div id="analytics-base-url">@(ViewBag.Url)</div>
</div>

<div class="analytics-block">
	<div id="analytics-data"></div>
</div>
